# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
examples/2018_angstrom_product_key/activate
examples/2018_angstrom_product_key/go.mod
examples/2018_angstrom_product_key/go.sum
examples/2018_angstrom_product_key/activate_crack
examples/multithreaded/tracer
examples/multithreaded/c_src/test_threads
examples/multithreaded/c_src/test_threads.o
examples/multithreaded/go.sum
examples/multithreaded/go.mod
examples/forked/tracer
examples/forked/c_src/test_forks
examples/forked/c_src/test_forks.o
examples/forked/go.sum
examples/forked/go.mod
examples/forky/go.mod
examples/forky/go.sum
examples/forky/tracer
